.bottom-box
  font-size:16Px;
  position:fixed;
  bottom:55Px;
  height:45Px;
  width:100%;
  z-index:3;
  display:flex;
  align-items:center;
  justify-content:center;

  .bottom-icon
    width: 35px;
    height: 35px
  
  .bottom-txt
    box-sizing: border-box;
    padding:0 8Px