.details
  position: fixed;
  top:0;
  bottom:0;
  width:100%;

  .txt-content
    display:flex;
    height:100%;
    justify-content: center;
    align-items: center;
    z-index:2;
    position:relative;

    .txt-box
      width:66%;
      height:66%;
      display:flex;
      align-items:center;
      justify-content:center;
      
     .animated
       animation-duration:2s;
       font-size:120%;